<div class="hero-body">
    <div class="container">
    <h1 class="title">
        Who's your top 5 NBA Players?
    </h1>
    <h2 class="subtitle">
        Customize your own top 5 NBA Players!
    </h2>
    <p class="lead">
        <a class="buttonTwo" href="/players" role="button">See current list</a>
    </p>
</div>
