<div class="jumbotron3">
    <h1 class="display-4">World's Top 10 Players of all-time</h1>
    <p class="lead">
        LeBron James or Michael Jordan? Bill Russell or Wilt Chamberlain? Stephen Curry or Kevin Durant? Old school or new school?
        These debates rage on endlessly in every corner of NBA fandom, and our experts have done their best to answer them, ranking
        the greatest players in the league's 74-year history.
    </p>
        
        <h2 class="seemore">Michael Jordan</h2>
        <p class="lead">
            Michael Jeffrey Jordan is a former professional American basketball player, Olympic athlete,
            businessperson and actor. Considered one of the best basketball players ever, he dominated the
            sport from the mid-1980s to the late 1990s. Jordan led the Chicago Bulls to six National Basketball
            Association championships and earned the NBA's Most Valuable Player Award five times. With five
            regular-season MVPs and three All-Star MVPs, Jordan became the most decorated player in the NBA.        
        </p>
        <h2 class="seemore">LeBron James</h2>
        <p class="lead">
            LeBron James became an immediate star after skipping college to join the NBA's Cleveland Cavaliers. He
            led the Miami Heat to NBA titles in 2012 and 2013 and won another championship with Cleveland in 2016,
            before joining the Los Angeles Lakers in 2018.
        </p>

        <h2 class="seemore">Kareem Abdul-Jabbar</h2>
        <p class="lead">
            A dominant high school basketball player, Kareem Abdul-Jabbar was recruited to play at UCLA and led the
            Bruins to three national titles. His dominance continued in the NBA, first for the Milwaukee Bucks, and
            later the Los Angeles Lakers. Abdul-Jabbar won six titles and six MVP awards, and finished as the league's
             all-time scorer. He retired in 1989 and is widely considered one of the greatest players in NBA history,
            and his talent was celebrated as early as high school.
        </p> 

        <h2 class="seemore">Larry Bird</h2>
        <p class="lead">
            Larry Bird starred at Indiana State University before joining the NBA's Boston Celtics in 1979. Over the
            course of his 13-year Hall of Fame career, the sharpshooting forward led the Celtics to three NBA titles
            and claimed three MVP awards. Following his retirement in 1992, Bird became a successful head coach and
            front-office executive with the Indiana Pacers.
        </p> 

        <h2 class="seemore">Kobe Bryant</h2>
        <p class="lead">
            Former pro basketball player Kobe Bryant won five NBA titles with the Los Angeles Lakers while establishing
            himself as one of the game's all-time greats. Kobe Bryant spent his early years in Italy and joined the NBA
            straight out of high school. A dominant scorer, Bryant won five NBA championships and the 2008 MVP Award with
            the Los Angeles Lakers. Although later seasons were marred by injuries, he surpassed Michael Jordan for third
            place on the NBA all-time scoring list in December 2014 and retired in 2016 after scoring 60 points in his final
            game. In 2018, Bryant earned an Academy Award for Best Animated Short Film for Dear Basketball. On January 26, 2020,
            he was in a helicopter crash that killed Bryant, his 13-year-old daughter Gigi and seven others.
        </p> 

        <h2 class="seemore">Magic Johnson</h2>
        <p class="lead">
            Earvin "Magic" Johnson dominated the court as one of the world's best basketball players for more than a decade.
            In 1991, he announced that he had tested positive for HIV, the virus that causes AIDS. Magic Johnson dominated the
            court as one of professional basketball's best players for 13 years. He retired from the Los Angeles Lakers in 1991
            after revealing that he had tested positive for HIV, the virus that causes AIDS, though he later returned in 1996
            for one final season.
        </p> 

        <h2 class="seemore">Tim Duncan</h2>
        <p class="lead">
            He was drafted with the first pick of the 1997 NBA Draft by the San Antonio Spurs, and immediately made an impact,
            averaging 21.1 points per game his first season. The Spurs were able to pick Duncan (the first senior to be selected
            first overall since Larry Johnson) due to the fact that they were coming off a 20-62 season due to a David Robinson injury.
        </p> 

        <h2 class="seemore">Shaquille O'Neal</h2>
        <p class="lead">
            Shaquille O'Neal is one of the most dominant players in NBA history, helping his teams to win NBA Championships and Olympic gold.
            Following his 2011 retirement, O'Neal became an NBA analyst, working alongside the likes of Charles Barkley and Ernie Johnson.
            In his rookie season with the Orlando Magic, O'Neal, also known as "Shaq," finished in the Top 10 in scoring, rebounding, blocks
            and shooting percentage. A notoriously bad free-throw shooter, O'Neal focused on trying to get more of his points on the power slam,
            and hearty NBA centers quickly learned to try to foul O'Neal rather than give him an easy shot. O'Neal became the first player in
            NBA history to be named Player of the Week in his first week in the league.
        </p> 

        <h2 class="seemore">Wilt Chamberlain</h2>
        <p class="lead">
            Known as "Wilt the Stilt" for his 7'1" frame, Wilt Chamberlain was a Harlem Globetrotter before joining the Philadelphia Warriors.
            He achieved an average of 30.1 points per game over his career and holds several records, including for most points scored in one
            season (4,029) and most points scored in a single game (100). Chamberlain was inducted into the Basketball Hall of Fame in 1978.
            He died in Bel-Air, California, in 1999.
        </p> 

        <h2 class="seemore">Hakeem Olajuwon</h2>
        <p class="lead">
            Hakeem Abdul Olajuwon (born January 21, 1963) is a retired Nigerian-American basketball player who played basketball in the NBA
            between 1984 and 2002. During those 18 years, Olajuwon established himself as one of the top basketball players not just of his time,
            but to have ever played in the NBA. Olajuwon rose to become one of the best players to have played in the NBA, as a result of his
            unique style of play which combines a tactical defensive approach to fast-paced offensive skills. In this article on Hakeem Olajuwon
            biography, childhood, career, personal life and facts, we’ll review his life as well as his ascent to the top of his basketball career.
        </p> 

    <hr class="my-4">
    <p class="lead">Today the NBA has changed in a way where without a solid 3 point shot/jumpshot you will most likely not succeed in the league.</p>
    <p class="lead">
      <a class="seeMore" href="/players" role="button">Learn more</a>
    </p>
  </div>